@charset="UTF-8";
/*样式初始化*/
body,h1,h2,h3,h4,h5,h6,p,div,span,ul,ol,li,dl,dt,dd,span,b,i,em,strong,input,button{
	margin:0;
	padding:0;
}

input,button{
	outline-style:none;
	border:none;
	margin:0;
	padding:0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration: none;
}
.clearfix::before,.clearfix::after{
	content:"";
	display:table;
	clear:both;
}
.clearfix{
	zoom:1;
}




