<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>watch</title>
    <script src="vue1026.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstName"> &nbsp;&nbsp;
        <input type="text" v-model="lastName">
        <br/>
        <br/>
        <br/>
        {{fullName}}
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            firstName: 'Bill',
            lastName: 'Gates',
            fullName: 'Bill.Gates'
        },
        watch: {
            'firstName': function (newval, oldval) {
                // console.log(newval,oldval);
                this.fullName = this.firstName + this.lastName;
            },
            'lastName': function (newval, oldval) {
                // console.log(newval,oldval);
                this.fullName = this.firstName + this.lastName;
            }
        }
    });
</script>
</html>