<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>其他过滤器和自定义过滤器</title>
</head>
<body ng-app="testFilter" ng-controller="filterController">
<h1>在js中使用过滤器</h1> {{result}}  <!-- 在数据模型后加上|  再加上过滤器的名字 -->

<h1>使用currency过滤金额数字</h1>
<p>{{money | currency: '￥'}}</p>

<h1>使用date过滤日期格式</h1>
<p>{{myDate | date: 'yyyy年MM月dd日 HH:mm:ss'}}</p>

<h1>使用limitTo过滤显示数量</h1>
<!-- 第1个参数，表明显示多少个字，第2个参数表示，从第几个字开始显示（索引从0开始） -->
<p>{{msg | limitTo: 5}}</p>
<p>{{msg | limitTo : 5 : 2}}...</p>

<h1>使用orderBy过滤来排序</h1>
<!-- 对数据进行排序，参数，给+号就按正序排，- 就按倒序排 -->
<span ng-repeat="item in arr | orderBy: '+' "> {{item }}，</span><br>
<span ng-repeat="item in arr | orderBy: '-' "> {{item}} </span>

<h1>使用json过滤器，参数表示缩进空格</h1>
<!--  格式化显示json数据，参数指定缩进的长度 -->
<pre>{{myJson | json: 4}}</pre>
<script src="angular.js"></script>
<script>
    // 1.创建模块
    var app = angular.module('testFilter', []);
    // 2.创建控制器
    app.controller('filterController', ['$scope', '$filter', function ($scope, $filter) {
        // 财富
        $scope.money = 9998;
        // Date.now()
        $scope.myDate = 1248324244875;
        $scope.msg = '我是中国人，我爱自己的祖国!';
        $scope.arr = [1, 2, 3, 8, 4, 6, 0];
        $scope.myJson = {
            a: {
                name: '小明',
                age: 18
            },
            b: {
                name: '小红',
                age: 20
            }
        };

        // 可以调用不同的过滤器得到相应的结果，参数是一个过滤器的名字
        // 返回值是一个方法，第1个参数是需要处理的数据，第2个参数是当前过滤器本身需要的参数
        console.log($filter);
        $scope.result = $filter('currency')($scope.money, '￥');
        console.log($scope.result);
    }]);
</script>
</body>
</html>
